<form action='/contact/send_data' method='post' class="form-inline well">
  <input type="text" name='prename' placeholder="First Name" autofocus> <br> <br>
  <input type="text" name='last_name' placeholder="Last Name" autofocus><br> <br>
  <input type="text" name='email' placeholder="Email" autofocus><br> <br>
  <input class="btn primary" type='submit' value='Send data'>
</form>
